#searchResults {
    z-index: 1000; /* Keeps it on top of other elements */
    max-height: 200px;
    overflow-y: auto;
}

#home-page {
    background: url("../images/background-1.png");
    background-size: cover;
    height: 100vh;
}

#login-page {
    background: url("../images/background-1.png");
    background-size: cover;
    height: 100vh;
}

#signup-page {
    background: url("../images/background-1.png");
    background-size: cover;
    height: 100vh;
}

#dashboard-page {
    background: url("../images/background-1.png");
    background-size: cover;
    height: 100vh;
}

#publish-page {
    background: url("../images/background-2.png");
    background-size: cover;
    height: 100vh;
}

#profile-page {
    background: url("../images/background-3.png");
    background-size: cover;
    height: 100vh;
}

#user_profile-page {
    background: url("../images/background-3.png");
    background-size: cover;
    height: 100vh;
}